<!DOCTYPE html>
<html lang="en">
<head>
   {{>links}}
</head>
<body>
   {{>navbar}}
    
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right ">
                        <figure>
                            <img src="./img/about.jpg" alt="loading" class="img-fluid img" style="height: 70%; margin:6rem 3rem;" title="Krishna Technical">
                        </figure>
                     </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome To Krishna Technical World</p>
                    <h1>I Am A <span class="text-clr">Mean Stack Developer,</span> Front End Developer And A Freelancer</h1>
                    <a href="/weather"><button>About Me</button></a>
                </div>
               
            </div>
        </div>
    </div>

   {{>footer}}
</body>
</html>